*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 35px;}


.span-class{
    color: orange;
}
.banner-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;

}
.left-div{
    width: 50%;
    margin-left: 5%;
    padding: 10px;
}
.right-div{
    width: 50%;
    margin-left: 5%;
}
.banner-image{
    width: 80%;
}
.btn{
text-decoration: none;
background-image: linear-gradient(orange, tomato);
padding: 10px 40px;
border-radius: 5px;
color: white;
font-weight: bolder;
}
.dream-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-img{
    width: 80%;
}